{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>

    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>

    <ul style="font-size: 20px">
        {% for evento in eventos %}

            <li>
                <div style={% if evento.get_evento_atrasado %}
                                "color:red"
                            {% endif %}>
                    {{ evento.titulo }} - {{ evento.get_data_evento }}
                    ( <a href="evento/?id={{ evento.id }}">Editar</a>
                    / <a href="evento/delete/{{ evento.id }}/" onclick="excluir()">Excluir</a> )
                </div>
            </li>

        {% endfor %}
    </ul>

<style>
    h2{
        font-family: 'Lato', sans-serif;
        margin-left: 25px;
      }

     button {

             font-size: 18px;
             background-color: rgb(26, 207, 35);
             color: white;
             border: none;

     }

     li a{
        margin: 2px;
        padding: 2px 8px 2px 8px;
        font-size: 15px;
        background-color: #cabebe;
        color: black;
        font-weight: bold;



     }




</style>

<script>
    function excluir() {
        alert("Você tem certeza de que deseja excluir?")
    }
</script>


{% endblock %}


